<div ng-controller="mainController">
<div ng-controller="Ctrl">
    <div style="border:2px solid red;">
       papers: <br>
        {{papers}}
    </div>
   
   


    <table class="table table-bordered table-hover table-condensed">
           <tr>
                    <th>ID</th>
                    <th>來文</th>
                    <th>來文號</th>
                    <th>去文</th>
                    <th>去文號</th>
                    <th>摘要</th>
                    <th>控制</th>
                           
            </tr>

        <tr ng-repeat="paper in papers">
         
            
        <td>

            {{paper.id}}

        </td>
        <td>
            {{paper.fromtext}}
           
        </td>
        <td>
            {{paper.fromnumber}}
          
        </td>
        
            {{paper.totext}}
             
        </td>
        <td>
            {{paper.tonumber}}
        </td>
        <td>
            {{paper.summary}}
        </td>
       

       


        </tr>
  </table>


      


</div>

</div>       
